/*animaciones*/
@keyframes zoom-fade {
    0%{opacity: 0.1;}
    20%{opacity: 0.2;}
    40%{opacity: 0.4;}
    50%{transform: scale(1.2);}
    60%{opacity: 0.6;}
    80%{opacity: 0.8;}
    100%{opacity: 1;}
}
@keyframes opaco {
    0%{opacity: 1;}
    10%{opacity: 0.8;}
    20%{opacity: 0.6;}
    30%{opacity: 0.4;}
    40%{opacity: 0.2;}
    50%{opacity: 0;}
    60%{opacity: 0.2;}
    70%{opacity: 0.4;}
    80%{opacity: 0.6;}
    90%{opacity: 0.8;}
    100%{opacity: 1;}
}
/*fin de animaciones*/
/*part 1 css*/
body{
    font-family: Roboto, sans-serif;
}
.body-container{
    background-color: aqua;
    display: flex;
    min-height: 97%;
    min-width: 99%;
    position: absolute;
}
.main-container-small{
    background-color: white;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-box{
    height: 65%;
    width: 80%;
    background-color: white;
}
.top-line-bio{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 15%;
    background-color: white;
}
.top-line-bio div{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #8a8785;
    font-weight: bold;
}
.top-line-bio a{
    color: #c2d7f3;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.pic-search{
    height: 30%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar, .pictures{
    background-color: white;
    height: 100%;
    width: 50%;
}
.kaworu-pics{
    display: flex;
    position: relative;
    height: 100%;
}
.kaworu-cat, .kaworu-angry{
    position: absolute;
}
.kaworu-angry img, .kaworu-cat img{
    height: 40%;
    width: 50%;
    float: right;
    border-radius: 20px;
}
.kaworu-cat img:hover{
    animation: opaco;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.search{
    margin: 10px;
    background-color: white;
    height: 25%;
    width: 50%;
    font-size: 16px;
    color: #c6c6c6;
    display: flex;
    gap: 10%;
}
input[type=text] {
    border-color: #c2d7f3;
    border-width: 0px 0px 4px 0px;
    border-style: solid;
    font-size: 17px;
    padding: 5px;
  }
.hi{
    margin: 10px;
    font-stretch: ultra-expanded;
    font-weight: bold;
}
.quote{
    margin: 5px 20px 3px 20px;
    height: 18%;
}
.quote p{
    text-align: center;
    word-wrap: break-word;
    font-size: 15px;
    margin: 0;
    color: #8a8785;
}
.buttons{
    display: flex;
    margin: 10px 100px 20px 100px;
    gap: 30%;
}
.col1, .col2{
    display: flex;
    flex-direction: column;
}
.col1 div, .col2 div{
    margin: 8px;
    border: solid 3px #c2d7f3;
    width: 90%;
    font-size: 15px;
    padding: 5px;
    text-align: center;
}
.col1 a, .col2 a{
    color: #8a8785;
    font-weight: 400;
    text-decoration: none;
}
.col1 div:hover, .col2 div:hover{
    animation: zoom-fade;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
}
/*end of part 1 and start of part 2*/
.main-container-big{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 60%;
}
.big-section{
    height: 90%;
    width: 80%;
    background-color: white;
}
.icon-line{
    height: 13%;
    width: 100%;
    background-color: blue;
    display: flex;
}
.whoishe, .ep24, .tabris, .camera{
    background-color: white;
    width: 25%;
    height: 100%;
    border-color: #c2d7f3;
    border-width: 0px 0px 5px 0px;
    border-style: solid;
}
.ep24{
    background-color: #c2d7f3;
}
.icon-line p{
    text-align: center;
    margin: 20%;
    color: #8a8785;
}
.icon-line div:hover{
    background-color: #c2d7f3;
}
.icon-line a{
    text-decoration: none;
}
 .kaworu-profile{
    height: 87%;
    width: 100%;
    background-color: white;
}
.kaworu-profile video{
    height: 90%;
    width: 100%;
    margin-top: 20px;
}
